.root {
  width: 640px;
  text-align: center;
  vertical-align: middle;
}

.imageroot {
  display: flex;
  width: 120px;
  max-height: 80%;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

.bookimage {
  width: 100px;
  height: auto;
  margin: auto;
}

.book-card {
  text-align: center;
}
