<div
  class="ui-g ui-fluid root"
  *ngIf="bookinfo; then displayBook; else nodisplyBook"
></div>
<ng-template #displayBook>
  <div class="ui-g-6 ui-md-6 ui-lg-6 imageroot">
    <img class="bookimage" src="{{ bookinfo.imageUrl }}" />
  </div>
  <div class="ui-g-6 ui-md-9 ui-lg-9">
    <h3>{{ bookinfo.title }}</h3>
    <p>{{ bookinfo.author }}</p>
    <p>出版年:{{ bookinfo.pubdate }}</p>
    <button
      style="margin: 5px;"
      pButton
      type="button"
      label="Amazon"
      (click)="onAmazonLink()"
    ></button>
  </div>
</ng-template>
<ng-template #nodisplyBook>
  <div class="ui-g-6 ui-md-6 ui-lg-6 imageroot">
    <img class="bookimage" src="./assets/no-image.png" />
  </div>
  <div class="ui-g-6 ui-md-6 ui-lg-6 book-card">
    <p-progressSpinner></p-progressSpinner>
    <p>Loading...</p>
  </div>
</ng-template>
