<p-dialog
  header="書籍検索結果"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  (onHide)="onHide()"
  (onShow)="onShow(bDialog)"
  [(visible)]="display"
  [responsive]="true"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'hidden' }"
  #bDialog
>
  <div *ngIf="isLoading; then loading; else loaded"></div>
  <ng-template #loading>
    <div class="ui-g-12 load-root">
      <p-progressSpinner></p-progressSpinner>
      <p>Loading...</p>
    </div>
  </ng-template>
  <ng-template #loaded>
    <div *ngIf="errorMessage; then dispError; else dispSuccess"></div>
  </ng-template>
  <ng-template #dispError>
    <h2 style="color: red;">{{ errorMessage }}</h2>
  </ng-template>
  <ng-template #dispSuccess>
    <p-dataView [value]="booklist">
      <ng-template let-bookinfo pTemplate="listItem">
        <div class="ui-g-12">
          <div class="item-details">
            <div>
              <img src="{{ bookinfo.imageUrl }}" />
              <div class="ui-g">
                <div class="ui-g-12">
                  書名: <b>{{ bookinfo.title }}</b>
                </div>
                <div class="ui-g-12">
                  著者: <b>{{ bookinfo.author }}</b>
                </div>
                <div class="ui-g-12">
                  出版日: <b>{{ bookinfo.pubdate }}</b>
                </div>
                <div class="ui-g-12">
                  商品リンク:
                  <a href="{{ bookinfo.prdouctLink }}" target="_blank"
                    >Amazon</a
                  >
                </div>
                <div class="ui-g-12">
                  <button
                    pButton
                    type="button"
                    icon="pi pi-check"
                    label="選択する"
                    (click)="onBookSelectClicked(bookinfo)"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ng-template>
</p-dialog>
