<div class="ui-fluid">
  <h2>本の古本価格を取得しよう。</h2>
  <div class="ui-g-12">
    <h3>バーコードをスキャンして探す</h3>
    <button
      pButton
      type="button"
      icon="pi pi-video"
      label="バーコードで本を検索"
      (click)="onScanDialogOpen($event)"
    ></button>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="ui-g-12">
      <h3>キーワードで探す</h3>
      <span class="ui-float-label">
        <div class="ui-inputgroup">
          <input
            id="keyword-input"
            placeholder="書名、著者名を入力"
            formControlName="searchKeyword"
            [(ngModel)]="searchKeyword"
            type="text"
            pInputText
            required
          />
          <button
            pButton
            type="button"
            icon="pi pi-search-plus"
            label="検索"
            [disabled]="!f.searchKeyword.valid"
            (click)="onSearchDialogOpen($event)"
          ></button>
        </div>
      </span>
      <div
        class="error-msg"
        *ngIf="
          f.searchKeyword.invalid &&
          (f.searchKeyword.dirty || f.searchKeyword.touched)
        "
      >
        <span *ngIf="f.searchKeyword.hasError('required')">
          入力してください。
        </span>
      </div>
    </div>
  </form>
  <app-price-dialog
    [display]="displayPriceDialog"
    [isbn13]="isbn13"
    [bookinfo]="bookinfo"
    (closed)="onClosedPriceDialog($event)"
  ></app-price-dialog>
  <app-scan-dialog
    [display]="displayScanDialog"
    (codeDetected)="codeDetected($event)"
    (closed)="onClosedScanDialog($event)"
  ></app-scan-dialog>
  <app-book-search-dialog
    [keyword]="searchKeyword"
    [display]="displaySearchDialog"
    (closed)="onClosedSearchDialog($event)"
    (bookSelected)="onBookSelected($event)"
  ></app-book-search-dialog>
</div>
