<p-dialog
  header="書籍情報"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  (onHide)="onHide()"
  (onShow)="onShow(bDialog)"
  [(visible)]="display"
  [responsive]="true"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'hidden' }"
  #bDialog
>
  <div class="ui-g root">
    <div class="ui-g-12">
      <app-bookinfo-box [bookinfo]="bookinfo"></app-bookinfo-box>
    </div>

    <div class="ui-g-12 ui-md-4 ui-lg-4">
      <app-bookprice-box
        storeName="Amazonマケプレ"
        [bookPrice]="amazonInfo"
      ></app-bookprice-box>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-4">
      <app-bookprice-box
        storeName="駿河屋"
        [bookPrice]="surugayaInfo"
      ></app-bookprice-box>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-4">
      <app-bookprice-box
        storeName="BookOff"
        [bookPrice]="bookoffInfo"
      ></app-bookprice-box>
    </div>
  </div>
</p-dialog>
